<div class="card-wrapper">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title class="text-primary">{{ auction.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="display: flex; flex-direction: row; justify-content: flex-start;">
        <div class="text-primary" style="display: flex; flex-direction: column; justify-content: flex-start;">
          <span>Start: {{auction.start | date: 'dd-MM-yyyy hh:mm'}}</span>
          <span>End: {{auction.end | date: 'dd-MM-yyyy hh:mm'}}</span>
        </div>
        <div *ngIf="isActive() || isFuture()" class="text-primary" style="display: flex; flex-direction: column; justify-content: flex-end; margin-left: 2rem;">
          <span>{{ isActive() ? 'Ends in: ' : 'Before start: ' }}</span>
          <span><app-timer [duration]="duration()"></app-timer></span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="isActive()">
      <button mat-button>JOIN</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="isFuture()">
      <button mat-button>DETAILS</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="isPast()">
      <button mat-button>VIEW RESULTS</button>
    </mat-card-actions>
  </mat-card>
</div>
